body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1rem;

}


p {
  /* es mala practica */
  font-size: 1.2rem;
  font-weight: bold;
}


.ds-nn {
  display: none;
}

.ds-il {
  display: inline;
}



.visHidden {
  visibility: hidden;
}

#divBody {
  text-align: center;
  background-color: pink;
  background: linear-gradient(to right, transparent, pink, transparent);


  padding-bottom: 8rem;
}


.divTitle {
  /* background: red; */
  border: 1px solid red;
  border-radius: 50px;
  text-align: center;
  padding: 1rem;


}

.textoTitle {
  font-size: 1.5rem;
}


.imgTitle {
  padding: 1rem;
  border-radius: 25px;
  width: 300px
}

#divContenedorMain {
  display: flex;
  justify-content: space-between;
  /* background-color: pink; */
  /* background: linear-gradient(to right, transparent, pink,transparent); */
  background-color: transparent;
  padding: 20px;


}

.div-img-A {
  flex: 1;
  /* background-color: blue; */
  border: 1px solid blue;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: 1rem
}


.div-img-B {
  flex: 1;
  /* background-color: green; */
  border: 1px solid green;
  border-radius: 50px;
  text-align: center;
  padding: 10px;
  margin: 1rem
}

.btnCargarImagen {
  cursor: pointer;
  /* border-radius: 10px;
  border: 1px solid black; */
  padding: 0.2rem 1rem;

}

.divImgCanvas {
  margin: 2rem;
  background-color: white;

}


#img-A {
  margin: 0;
  display: block;
  padding: 0;
  width: 70%;
  height: auto;
}

#img-B {
  margin: 0;
  display: block;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.canvas-AB {
  width: 100px;
  height: 100px;
  display: none;
  background-color: cyan;
}






.imgResultado {

  height: 6rem;

  margin: auto;
  margin: 3rem auto
}


.ds-bl {
  display: block;
}




.mismaPersona-rdoPos {
  padding: 0.2rem;
  background: green
}

.mismaPersona-rdoNeg {
  padding: 0.2rem;
  border-radius: 5px;
  background: red
}